.button, .button--primary, .button--secondary, .button--secondary-variation {
    display: inline-block;
    padding: 12px 32px;
    margin-bottom: 13px;
    margin-top: 13px;
    min-height: 26px;
    text-align: center;
    font-family: "Roboto Condensed",Helvetica,sans-serif;
    font-weight: 600;
    text-decoration: none;
    outline: 0;
    transition: none;
    font-size: 16px;
    border: 1px solid transparent;
    cursor: pointer;
}
.button:hover, .button--primary:hover, .button--secondary:hover, .button--secondary-variation:hover {
    background: #4d4d4d;
    color: #fff;
    border: 1px solid #4d4d4d;
    text-decoration: none;
}
.button--primary {
    background: #4285f4;
    color: #fff;
    border: 1px solid #1266f1;
}
