h1 {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
    margin: 0 0 10px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
    box-sizing: content-box;
    height: 0;
}

.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .lead {
      font-size: 21px;
  }
}
